<ion-header>
  <ion-toolbar>
    <ion-title>Luxo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item routerLink="/home">
      <ion-label>Home</ion-label>
    </ion-item>


  <ion-list-header>
    <ion-label>Consultor:Pedro / Preço Inicial: R$765.000 / Botucatu-SP</ion-label>
  </ion-list-header>
  <ion-list-header>
      <ion-label>Carros esportivos de luxo</ion-label>
    </ion-list-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Lamborghini Huracán Evo</ion-card-subtitle>
      <ion-card-title>Huracán Evo</ion-card-title>
    </ion-card-header>
    <img src="assets/img/evo.jpg">
    <ion-card-content>
        Baseado no Performante, o EVO traz um motor 5.2 V10 aspirado de 640 cv a 8.000 rpm e 61,2 kgfm a 6.500 giros, que trabalha associado a um câmbio de dupla embreagem e sete marchas. A tração é integral. Com esse trem de força, vai aos 100 km/h em apenas de 2,9 segundos, abaixo da marca mágica dos 3 segundos. E acelera até a máxima de 325 km/h. R$765.000 
    </ion-card-content>
  </ion-card>
</ion-content>
