<ion-header>
  <ion-toolbar>
    <ion-title>Minivan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item routerLink="/home">
      <ion-label>Home</ion-label>
    </ion-item>

  <ion-list-header>
    <ion-label>Consultor:Yuri / Preço Inicial: R$90.000 / São Gonçalo-RJ</ion-label>
  </ion-list-header>
  <ion-list-header>
      <ion-label>Uma minivan é um tipo de automóvel similar em formato à uma van, porém desenhado para uso particular, tendo entre quatro e nove lugares.</ion-label>
    </ion-list-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ford Dobló</ion-card-subtitle>
      <ion-card-title>Dobló</ion-card-title>
    </ion-card-header>
    <img src="assets/img/doblo.jpg">
    <ion-card-content>
        Novo Fiat Doblò Oferece Conforto e Versatilidade para Você. A partir de R$ 93.990
    </ion-card-content>
  </ion-card>
</ion-content>